<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>International Jobs Passport Registration</title>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  <h1>Welcome to International Jobs Passport Registration Page</h1>
  <p>
    Welcome to the International Jobs online application process.
    This easy-to-use, flexible process allows you to do all of the following within a safe, secure, online environment:
  </p>
  <ul>
    <li>Create profile,</li>
    <li>Capture your application,</li>
    <li>Attach supporting documents,</li>
    <li>Make payment, and</li>
    <li>Schedule appointments</li>
  </ul>
  <a href="/register"><button>Go to registration</button></a>
</body>
</html>
